# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
venv/
env/
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Generated datasets
data/generated/*.parquet
data/runtime/*
outputs/*

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml